<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
	<div class="container-fluid">

		<ul class="navbar-nav me-auto">
			<li class="nav-item">
				<a class="nav-link" href={{ path('app_home') }}>
					Home
				</a>
			</li>
			{# fonction de twig global @var app give access to current user : si utilisateur est co, il verra 2 options suivantes #}
			{% if app.user %}
				<li class="nav-item" style="background: orange">
					<a class="nav-link" href={{ path('app_ingredients') }}>
						Ingredients
					</a>
				</li>
				<li class="nav-item" style="background: blue">
					<a class="nav-link" href={{ path('app_recipes') }}>
						Recipes
					</a>
				</li>
				<div class="d-flex">
					<ul>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
								User :
								{{ app.user.userName }}</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="{{ path('edit_user', {id : app.user.id}) }}" class="ms-auto">Modify profil</a>
								<a class="dropdown-item" href="{{ path('user_edit_pass', {id : app.user.id}) }}">Modify password</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{{ path('app_logout') }}" class="ms-auto">Logout</a>
							</div>
						</li>
					</ul>
				</div>
			{% else %}
				<li class="nav-item" style="background: orange">
					<a class="nav-link" href={{ path('app_registration') }}>
						SignUp
					</a>
				</li>
				<li class="nav-item" style="background: blue">
					<a class="nav-link" href={{ path('app_login') }}>
						LogIn
					</a>
				</li>
			{% endif %}


		</div>
	</div>
</nav>
